{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block contact %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center">ورود به حساب</div>
                            <form class="" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <i class="fa fa-lock"></i>
                                    {% render_field form.old_password class="password-input" placeholder="گذرواژهٔ قدیمی" %}
                                </div>
                                {% for error in form.old_password.errors %}
                                    <p class="alert alert-danger">{{ error }}</p>
                                {% endfor %}

                                <div class="field">
                                    <i class="fa fa-lock"></i>
                                    {% render_field form.new_password1 class="password-input" placeholder="گذرواژهٔ جدید" %}
                                </div>
                                {% for error in form.new_password1.errors %}
                                    <p class="alert alert-danger">{{ error }}</p>
                                {% endfor %}

                                
                                <div class="field">
                                    <i class="fa fa-lock"></i>
                                    {% render_field form.new_password2 class="password-input" placeholder="تأیید گذرواژهٔ جدید" %}
                                </div>
                                {% for error in form.new_password2.errors %}
                                    <p class="alert alert-danger">{{ error }}</p>
                                {% endfor %}

                                <div class="mr-1 d-flex justify-content-between">

                                    <div>
                                        <a href="{% url 'accounts:password_reset' %}" class="small">رمز عبور خود را فراموش کرده اید؟</a>
                                    </div>

                                </div>

                                <div class="my-3">
                                    <button class="btn custom-btn w-100">تغییر</button>
                                </div>


                            </form>

                            

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- <script>
            let checkboxInput = document.querySelector('.checkbox-input')
            let passwordInput = document.querySelector('.password-input')
            let isHide = true
            checkboxInput.addEventListener('click' , ()=>{
                if(isHide){
                    passwordInput.type = 'text'
                    isHide = false
                }else{
                    passwordInput.type = 'password'
                    isHide = true
                }
            })

        </script> -->
{% endblock contact %}