{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block contact %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">


                        <div class="field">
                            <p>
                                رمز عبور شما تنظیم شده است. می توانید همین الان بروید و وارد شوید.
                            </p>
                           <a href="{% url 'accounts:login' %}"> <p>ورود</p></a>
                        </div>

                        <div class="my-3">
                            <a href="{% url 'accounts:login' %}">
                                <button class="btn custom-btn w-100">

                                    ورود
                                </button>
                            </a>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock contact %}