{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block contact %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">

                        <form class="" method="post">
                            {% csrf_token %}
                            <div class="field">

                                {% if validlink %}
                                    {{ form.errors }}
                                        <i class="fa fa-lock"></i>
                                        {% render_field form.new_password1 class="password-input" placeholder="تکرار وازهگذاره جدید خود را وارد کنید" %}
                                    </div>
                                    <div class="field">
                                        <i class="fa fa-lock"></i>
                                        {% render_field form.new_password2 class="password-input" placeholder="تکرار وازهگذاره جدید خود را وارد کنید" %}
                                    </div>

                                <div class="my-3">
                                    <button class="btn custom-btn w-100">تغییر گذرواژه</button>
                                </div>
                                {% else %}
                                <div class="field">
                                    <p>لینک منقضی شده است برای بازیابی رمز عبور دوباره <a href="{% url 'password_reset' %}">کلیک</a> کنید</p>
                                </div>
                            {% endif %}



                        </form>




                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock contact %}